$md-primary-color: #f44336 !default;
$md-accent-color: black !default;
$md-accent-contrast-color: #ffffff !default;
$md-warn-color: #ff5722 !default;
$md-warn-contrast-color: white !default;
$md-warn-A700: #e64a19 !default;
$md-foreground-1: rgba(0, 0, 0, 0.87) !default;
$md-foreground-2: rgba(0, 0, 0, 0.54) !default;
$md-foreground-3: rgba(0, 0, 0, 0.26) !default;
$md-foreground-4: rgba(0, 0, 0, 0.12) !default;
$md-background-900: rgb(33, 33, 33) !default;
$md-background-50: rgb(250, 250, 250) !default;
$md-background-default: white !default;
$md-border-radius: 3px !default;