//TODO: stretch input underline to full width (like md-select)
$md-input-clipbard-icon-size: 16px !default;
$md-input-clipbard-button-size: 30px !default;

.md-input-clipboard {
  // Don't let linebreaks happen between the open icon-button and the input.
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
  position: relative;

  //Display as row
  display: flex;
  flex-direction: row;

  &__button {
    display: inline-block;
    box-sizing: border-box;
    background: none;
    -webkit-align-items: flex-end;
    -ms-flex-align: end;
    align-items: flex-end;

    -webkit-order: 3;
    -ms-flex-order: 3;
    order: 3;

    &.md-button.md-icon-button {
      padding: 0;
      margin: 0;
      width: $md-input-clipbard-button-size;
      height: $md-input-clipbard-button-size;
    }

    md-icon {
      font-size: $md-input-clipbard-icon-size;
      width: $md-input-clipbard-icon-size;
      height: $md-input-clipbard-icon-size;
    }
  }

  &__container {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    flex-grow: 1;
    height: $md-input-clipbard-button-size;

    .md-errors-spacer {
      display: none; //TODO this element is automatically created by ngMaterial
    }
  }

  &__input {
    //@include md-flat-input();
    cursor: pointer;
    min-width: 120px;

    //max-width: $md-calendar-width - $md-datepicker-button-gap;
  }

}

//Case in input container
//md-input-container > .md-input-clipboard {
  //margin-bottom: 24px; //TODO variable?
//}