@import "../angular-material-style/_variables";

/**
 * Theme
 */
.md-input-clipboard.md-sportagraph-theme {

  .md-input-clipboard__container {
    color: $md-foreground-1;
    border-color: $md-foreground-4;
  }

  /**
   * Focus state
   */
  &:not([disabled]):focus .md-input-clipboard__container {
    border-bottom-color: $md-primary-color;
    color: $md-foreground-1;
  }
}