/**
 * Usage:
 *
 * .aspect-ratio {
 *   .ratio-base();
 * }
 * .aspect-ratio_16_9 {
 *   .ratio(16, 9);
 * }
 */
// Ratio mixins
// --------------------------------------------------

@mixin ng-ratio-base() {
  position: relative;

  &::before {
    display: block;
    content: "";
    width: 100%;
    visibility: hidden;
  }

  & > *:first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

}

@mixin ng-ratio($width , $height) {
  &::before {
    padding-top: percentage($height / $width);
  }
}