<div class="modal-header">
  <button type="button"
          class="close"
          ng-click="$confirm.cancel()">
    <i class="icon-close"></i>
  </button>
  <h4 class="modal-title">
    <span class="fa-stack">
      <i class="fa fa-circle-o fa-stack-2x"></i>
      <i class="fa fa-question fa-stack-1x"></i>
    </span>
    <span translate="dialog_confirm_title"
          translate-default="Confirmation">
      Confirmation
    </span>

    <button type="button"
            class="close"
            aria-label="Close"
            ng-click="$confirm.cancel();">
      <i class="fa fa-remove"
         aria-hidden="true"></i>
    </button>
  </h4>
</div>
<div class="modal-body modal-confirm">
  <p>{{$confirm.message}}</p>
</div>
<div class="modal-footer">
  <button type="button"
          class="btn btn-primary"
          ng-disabled="$confirm.isLocked"
          ng-click="$confirm.ok()" >
    <i class="fa fa-fw" ng-class="{ 'fa-circle-o-notch fa-spin': $confirm.isLocked, 'fa-check': !$confirm.isLocked }"></i>
    <span translate="dialog_ok"
          translate-default="OK">
      OK
    </span>
  </button>
  <button type="button"
          class="btn btn-default"
          ng-disabled="$confirm.isLocked"
          ng-click="$confirm.cancel()" >
    <i class="fa fa-fw fa-remove"></i>
    <span translate="dialog_cancel"
          translate-default="Cancel">
      Cancel
    </span>
  </button>
</div>