.ng-file-upload {
  position: relative;
  //overflow: hidden;
  cursor: pointer;
  float: left;
  margin-right: 4px;

  input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    opacity: 0;
    filter: "~alpha(opacity=0)";
    //transform: translate(-300px, 0) scale(4);
    font-size: 23px;
    direction: ltr;
    cursor: pointer;
  }
}

// Fix for IE 6
* html .ng-file-upload {
  line-height: 24px;
  margin: 1px -3px 0 0;
}

// Fix for IE 7
* + html .ng-file-upload {
  padding: 2px 15px;
  margin: 1px 0 0 0;
}